.grid-container{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    display: grid;
}

.cellBorder{
    border: 1px solid #2d2d2d;
}

.cellHover{
    background-color: #b9b9b9;
}